@page
@model PerziuraModel
@{
}
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button onclick="document.location='/Profilis/Prof_redagavimas'" type="button" class="btn btn-outline-primary btn-lg">Redaguoti</button>
</div>
<div class="text-center">
    <h1 class="display-4">Profilio peržiūra</h1>
    <hr />
    <img src="../jojo.png" width="300" height="250" />
</div>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button onclick="document.location='/Index'" type="button" class="btn btn-outline-primary btn-lg">Šalinti</button>
</div>