@page
@model PrisijungimasModel
@{
}
<div class="text-center">
    <h1 class="display-4">Prisijungti</h1>
    <hr />
    <img src="../jojo.png" width="300" height="250" />
    <p>
        <a class="nav-link text-dark" asp-area="" asp-page="/Profilis/Priminimas">Priminti vartotojo varda</a>
    </p>
    <p>
        <a class="nav-link text-dark" asp-area="" asp-page="/Profilis/Registracija">Registruotis</a>
    </p>
</div>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button onclick="document.location='/Index'" type="button" class="btn btn-outline-primary btn-lg">Prisijungti</button>
</div>