@page
@model EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>redaguojamaRezervacija</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="redaguojamaRezervacija.Numeris" />
            <div class="form-group">
                <label asp-for="redaguojamaRezervacija.Pradzia" class="control-label"></label>
                <input asp-for="redaguojamaRezervacija.Pradzia" class="form-control" />
                <span asp-validation-for="redaguojamaRezervacija.Pradzia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="redaguojamaRezervacija.Pabaiga" class="control-label"></label>
                <input asp-for="redaguojamaRezervacija.Pabaiga" class="form-control" />
                <span asp-validation-for="redaguojamaRezervacija.Pabaiga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="redaguojamaRezervacija.Suma" class="control-label"></label>
                <input asp-for="redaguojamaRezervacija.Suma" class="form-control" />
                <span asp-validation-for="redaguojamaRezervacija.Suma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="redaguojamaRezervacija.ZmoniuSk" class="control-label"></label>
                <input asp-for="redaguojamaRezervacija.ZmoniuSk" class="form-control" />
                <span asp-validation-for="redaguojamaRezervacija.ZmoniuSk" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="redaguojamaRezervacija.Apmoketa" /> @Html.DisplayNameFor(model => model.redaguojamaRezervacija.Apmoketa)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="redaguojamaRezervacija.Vardas" class="control-label"></label>
                <input asp-for="redaguojamaRezervacija.Vardas" class="form-control" />
                <span asp-validation-for="redaguojamaRezervacija.Vardas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="redaguojamaRezervacija.Pavarde" class="control-label"></label>
                <input asp-for="redaguojamaRezervacija.Pavarde" class="form-control" />
                <span asp-validation-for="redaguojamaRezervacija.Pavarde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="redaguojamaRezervacija.TelNumeris" class="control-label"></label>
                <input asp-for="redaguojamaRezervacija.TelNumeris" class="form-control" />
                <span asp-validation-for="redaguojamaRezervacija.TelNumeris" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="redaguojamaRezervacija.ElPastas" class="control-label"></label>
                <input asp-for="redaguojamaRezervacija.ElPastas" class="form-control" />
                <span asp-validation-for="redaguojamaRezervacija.ElPastas" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="redaguojamaRezervacija.YraAugintinis" /> @Html.DisplayNameFor(model => model.redaguojamaRezervacija.YraAugintinis)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="redaguojamaRezervacija.SukurimoData" class="control-label"></label>
                <input asp-for="redaguojamaRezervacija.SukurimoData" class="form-control" />
                <span asp-validation-for="redaguojamaRezervacija.SukurimoData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="redaguojamaRezervacija.Busena" class="control-label"></label>
                <select asp-for="redaguojamaRezervacija.Busena" class="form-control" asp-items="ViewBag.Busena"></select>
                <span asp-validation-for="redaguojamaRezervacija.Busena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="redaguojamaRezervacija.FkIdPoilsiaviete" class="control-label"></label>
                <select asp-for="redaguojamaRezervacija.FkIdPoilsiaviete" class="form-control" asp-items="ViewBag.FkIdPoilsiaviete"></select>
                <span asp-validation-for="redaguojamaRezervacija.FkIdPoilsiaviete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="redaguojamaRezervacija.FkIdNaudotojas" class="control-label"></label>
                <select asp-for="redaguojamaRezervacija.FkIdNaudotojas" class="form-control" asp-items="ViewBag.FkIdNaudotojas"></select>
                <span asp-validation-for="redaguojamaRezervacija.FkIdNaudotojas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
