@page
@model RezKurimasModel
@{
}
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button onclick="document.location='/Rezervacijos/RezPerziura'" type="button" class="btn btn-outline-primary btn-lg">Išsaugoti</button>
</div>
<div class="text-center">
    <h1 class="display-4">Rezervacijos kūrimas</h1>
    <hr />
    <img src="../unithorn.png" width="200" height="200" />
</div>