@page
@model KurimasModel
@{
}

<div class="text-center">
    <h1 class="display-4">Poilsiavietės kūrimas</h1>
    <hr />
    <img src="../temper.png" width="200" height="200" />
</div>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button onclick="document.location='/Poilsiavietes/Sarasas'" type="button" class="btn btn-outline-primary btn-lg">Išsaugoti</button>
</div>

