@page
@model PerziuraModel
@{
}
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button onclick="document.location='/Rezervacijos/RezKurimas'" type="button" class="btn btn-outline-primary btn-lg">Rezervuoti(prisijungus)</button>
</div>
<div class="text-center">
    <h1 class="display-4">Poilsiavietės peržiūra</h1>
    <hr />
    <img src="../temper.png" width="200" height="200" />
</div>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button onclick="document.location='/Profilis/Prisijungimas'" type="button" class="btn btn-outline-primary btn-lg">Rezervuoti(neprisijungus)</button>
</div>