@page
@model EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Redaguoti poilsiavietę</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Poilsiaviete.Pavadinimas" class="control-label"></label>
                <input asp-for="Poilsiaviete.Pavadinimas" class="form-control" />
                <span asp-validation-for="Poilsiaviete.Pavadinimas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poilsiaviete.NaktiesKaina" class="control-label"></label>
                <input asp-for="Poilsiaviete.NaktiesKaina" class="form-control" />
                <span asp-validation-for="Poilsiaviete.NaktiesKaina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poilsiaviete.Adresas" class="control-label"></label>
                <input asp-for="Poilsiaviete.Adresas" class="form-control" />
                <span asp-validation-for="Poilsiaviete.Adresas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poilsiaviete.PastoKodas" class="control-label"></label>
                <input asp-for="Poilsiaviete.PastoKodas" class="form-control" />
                <span asp-validation-for="Poilsiaviete.PastoKodas" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Poilsiaviete.MiegamujuSkaicius" />
            <input type="hidden" asp-for="Poilsiaviete.VoniosKambariuSk" />
            <div class="form-group">
                <label asp-for="Poilsiaviete.Taisykles" class="control-label"></label>
                <input asp-for="Poilsiaviete.Taisykles" class="form-control" />
                <span asp-validation-for="Poilsiaviete.Taisykles" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Poilsiaviete.Aktyvumas" /> @Html.DisplayNameFor(model => model.Poilsiaviete.Aktyvumas)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Poilsiaviete.Reitingas" class="control-label"></label>
                <input asp-for="Poilsiaviete.Reitingas" class="form-control" />
                <span asp-validation-for="Poilsiaviete.Reitingas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poilsiaviete.Tipas" class="control-label"></label>
                <select asp-for="Poilsiaviete.Tipas" class="form-control" asp-items="ViewBag.Tipas"></select>
            </div>
            <div class="form-group">
                <label asp-for="Poilsiaviete.FkKodas" class="control-label"></label>
                <select asp-for="Poilsiaviete.FkKodas" class="form-control" asp-items="ViewBag.FkKodas"></select>
            </div>
            <input type="hidden" asp-for="Poilsiaviete.IdPoilsiaviete" />
            <input type="hidden" asp-for="Poilsiaviete.FkIdNaudotojas" />
            <br>
            <div class="form-group">
                <input type="submit" value="Išsaugoti" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@if (TempData["Message"] != null)
{
    <script>
        alert("@TempData["Message"]");
    </script>
}
<div>
    <a asp-page="./Index" asp-route-dateFrom="@TempData["DateFrom"]" asp-route-dateTill="@TempData["DateTill"]">Grįžti į sąrašą</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
