@page
@model SarasasModel
@{
}

<div class="text-center">
    <h1 class="display-4">Poilsiaviečių sąrašas</h1>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Pavadinimas</th>
                <th>Veiksmai</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Poilsiaviete 1</td>
                <td>
                    <button onclick="document.location='Perziura'" class="btn btn-primary">Peržiūrėti</button>
                    <button onclick="document.location='Redagavimas'" class="btn btn-success">Redaguoti</button>
                </td>
            </tr>
            <tr>
                <td>Poilsiaviete 2</td>
                <td>
                    <button onclick="document.location='perziura'" class="btn btn-primary">Peržiūrėti</button>
                    <button onclick="document.location='redagavimas'" class="btn btn-success">Redaguoti</button>
                </td>
            </tr>
            <tr>
                <td>Poilsiaviete 3</td>
                <td>
                    <button onclick="document.location='perziura'" class="btn btn-primary">Peržiūrėti</button>
                    <button onclick="document.location='redagavimas'" class="btn btn-success">Redaguoti</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
