@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@if (false)
{
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button onclick="document.location='poilsiavietes/kurimas'" type="button" class="btn btn-outline-dark btn-lg">Kurti poilsiavietę</button>
    </div>
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <hr />
    <img src="temper.png" width="200" height="200" />
</div>